/*******************************************************************************
	Author : Bondarchuk Ruslan | e-mail: Rus.Bondarchuk@gmail.com
	Запрещено распространение файлов данного шаблона
	в любом виде, как на коммерческой так и на некоммерческой основе.
	Все права принадлежат автору.
********************************************************************************/

#front-wrapper {
	min-width:1000px;
	text-align:center;
	display: block;
	z-index:1;
	padding-bottom:220px;
	position: relative;
}

#front {
	width: 100%;
	margin: 0 auto;
	min-height:1016px;
	zoom:1;
	display:block;
	text-align:center;
}


.topline {
	height:352px;
	width:1000px;
	margin:auto;
	position:relative;
}

.mask {
	position:relative;
	width:1000px;
	padding-top: 42px;
	margin: auto;
	display:block;
	text-align:left;
	clear:both;
}

.maskup {
	position:relative;
	width:1000px;
	margin: auto;
	display:block;
	text-align:left;
	clear:both;
}


.mask .column {
	width:264px;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 10px;
	float: left;
	margin-right: 5px;
	position: relative;
	z-index: 2;
}

.clear {
	height:0;
	overflow: hidden;
	clear: both;
}